/*                   | Main |                   */
*{
	-webkit-transition: all 0.25s cubic-bezier(0.61, 1, 0.88, 1); 
  	-moz-transition: all 0.25s cubic-bezier(0.61, 1, 0.88, 1);
	-ms-transition: all 0.25s cubic-bezier(0.61, 1, 0.88, 1);
	-o-transition: all 0.25s cubic-bezier(0.61, 1, 0.88, 1);
	transition: all 0.25s cubic-bezier(0.61, 1, 0.88, 1);

	background:none center center fixed ;
	background-repeat: no-repeat;
	background-size: cover;

	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "Minecraft", "YaHei";
}
html{
	position: absolute;
	background-image: url('../img/Wallpaper.jpg');
	width: 100%;
	height:100%;
}
/*                   | TopRect |                   */
#ClientRect-TopRect{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 64px;
	border: none;
	z-index: 114514;
	background-color: #212529;
	
}
#ClientRect-TopRect-Icon{
	color: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 159.4754098360656px;
	height: 64px;
	border: none;
	background: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../img/Logo.png');
}
#ClientRect-TopRect-FaQ{
	position: fixed;
	top: 0px;
	left: 167px;
	width: 159.4754px;
	height: 64px;
	border: none;
	color: white;
	font-size: 18px;
}

/*                   | DownloadRect |                   */
#ClientRect-DownloadRect{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%,-50%);
}
#ClientRect-DownloadRect-DownloadLibrary ,#ClientRect-DownloadRect-DownloadSource ,#ClientRect-DownloadRect-Icon{
	width: 200px;
	justify-content: center;
	margin-bottom: 8px;
}
#ClientRect-DownloadRect-DownloadLibrary ,#ClientRect-DownloadRect-DownloadSource{
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 0;
	height: 48px;
	border-radius: 5px;
	border-width: 0px;
}
#ClientRect-DownloadRect-DownloadLibrary:hover{
	background-color: #343a40;
}
#ClientRect-DownloadRect-DownloadSource:hover{
	background-color: #adb5bd;
}
#ClientRect-DownloadRect-DownloadLibrary{
	color: #b6afa8;
	background-color: #495057;
}
#ClientRect-DownloadRect-DownloadSource{
	color: #161306;
	background-color: #e9ecef;
}
#ClientRect-DownloadRect-DownloadLibrary:active{
	background-color: #212529;
}
#ClientRect-DownloadRect-DownloadSource:active{
	background-color: #ced4da;
}
#ClientRect-DownloadRect-Title{
	font-size: 32px;
	color: white;
}
/*                   | MoreInfo |                   */
#ClientRect-MoreInfo{
	position: absolute;
	left: 50%;
	height: 20px;
	bottom: 0px;
	transform: translate(-50%,0%);
	background-color: transparent;
}